.root {
  min-height: 80vh;
  font-family: 'Montserrat', 'Gothic A1', sans-serif;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  justify-content: stretch;
  .inner {
    position: relative;
    width: 100%;
  }
  .title {
    margin: 0 0 1rem 0;
    text-align: center;
  }
  .answers {
    position: relative;
  }
  .total_count {
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    pointer-events: none;
    margin-bottom: 0.25rem;
  }
}

.input_wrap {
  display: flex;
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}