.root {
  // background: #DBE526;
  // padding: 10px;
}

.qrcode {
  position: fixed;
  z-index: 1;
  top: 1rem;
  right: 1rem;  
  padding: 0;
}

.cog {
  position: fixed;
  z-index: 1;
  bottom: 1rem;
  right: 1rem;
  padding: 0;
}